/*Universal Selector*/
*{
    color: brown
}

/*Element Selector*/
p {
    color: green;
}

/*Class Selector*/
.parag1 {
    color: pink;
}

/* ID Selector*/
#parag2 {
    color: violet;
}

/* Attribute Selector */
/* Targetting any element that has an [href] attribute */
[href] {
    color: yellow
    background-color: brown;
}

/*Targetting an <a> with an [href] attributes */
a [href] {
    color: lightsalmon;
} 

/* Targewtting elements with an href attribute that is exactly "www.example.com" */
a[href="www.example1.com"] {
    color: deeppink;
    background-color: beige;
}